.about {
   &__wrapper {
      margin: 80px 0px 100px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   &__image {
      margin: 20px 0px 0px 0px;
   }
   &__title {
      font-size: 24px;
      line-height: 35px;
   }
   &__content {
      max-width: 580px;
      text-align: center;
      margin: 40px 0px 0px 0px;
   }
}