.for-your {
   display: flex;
   justify-content: center;
   align-items: center;
   background: url('../../img/ourcoffeemainbg.svg') no-repeat;
   background-size: cover;
   min-height: 260px;
   &__title {
      font-weight: 700;
      font-size: 40px;
      line-height: 58px;
      color: #FFFFFF;
   }
}