.footer {
   padding: 50px 0px 20px 0px;
   &__menu {
      position: relative;
      max-width: 355px;
      margin: 0px auto;
   }

   &__image {
      left: -30px;
      top: -25px;
      position: absolute;
   }

   &__list {
      display: flex;
      justify-content: space-between;
   }

   &__link {
      font-size: 12px;
      line-height: 17px;
      transition: 0.2s ease;
      &:hover {
         transition: 0.2s ease;
         color: red;
      }
   }
   &__logo {
      display: block;
      margin: 30px auto 20px auto;
   }
}


@media(max-width:500px) {
   .footer {
      &__menu {
         max-width: 255px;
      }
   }
}
